<div class="header large first" >
  <div class="custom_bg">
    <div class="single_column">
      <section class="images inner">
          
        <div class="poster">
          <div class="image_content" >
              <img class="poster-img" src="https://image.tmdb.org/t/p/w500/{{movies?.poster_path}}">
          </div>
        </div>
  
        <div class="header_poster_wrapper">
          <section class="header-poster">

            <div class="title">
              <span>
                <h2>{{ movies?.title }}</h2>
                <span class="release_date">({{ movies?.release_date | date:'yyyy' }})</span>
              </span>
            </div>
  
            <div class="header_info mt-4">
              <h3>Overview</h3>
              <div class="overview">
                <p>{{ movies?.overview }}</p>
              </div>
  
              <h3 class="featured">Featured Crew</h3>
              <ol class="people no_image">
                <app-crew></app-crew>
              </ol>
            </div>

          </section>
        </div>
  
      </section>
  
    </div>
  </div>
</div>