.header.large.first {
    width: 100%;
    position: relative;
    z-index: 1;
}

.custom_bg {
    background-color: #fff;
}

.header.large.first.lazyloaded:before {
    filter: opacity(100) grayscale(100%) contrast(130%);
}

.header.large.first:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    filter: opacity(0) grayscale(100%) contrast(130%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    will-change: opacity;
    transition: filter 1s;
}

section div.header.first div.single_column {
    background: transparent;
}

div.single_column {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
}

section.inner_content section.images {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

section.inner_content section.images div.poster, section.inner_content section.images div.profile {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.poster {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    float:left
}

.poster-img {
    display: block;
    width: 300px;
    height: 450px;
    border-width: 0px;
    outline: none;
}

.header_poster_wrapper {
    display: flex;
    min-height: 450px;
}

.header-poster {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}
.title h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    color: #000;
}

.release_date {
    color: #000;
    opacity: 0.6;
    font-size: 1.7em;
    font-weight: 400;
}

.actions {
    margin-bottom: 30px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tooltip {
    padding: 10px 0;
    font-size: 0.9em;
    margin-right: 20px;
}

.tooltip a {
    border-color: #000;
    color: #000;
    border: 2px solid #000;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    color: #000;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    padding-right: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.header_info h3 {
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-bottom: 8px;
    color: #000
}
.overview {
    color: #000;
    font-size: 0.9em;
    font-weight:500
}

ol.people.no_image, ol.people.no_cast {
    margin-top: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
}
ol.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
}

